@keyframes fill-timer-bar {
	from {
		width: 0%;
	}
	to {
		width: 100%;
	}
}

.ergodic-timer-container {
	background-color: var(--background-modifier-border);
	border-radius: 4px;
	margin-bottom: 1rem;
	overflow: hidden; /* Ensures the inner bar respects the container's border-radius */
}

.ergodic-timer-bar {
	height: 4px;
	background-color: var(--color-accent);
	border-radius: 4px;
	animation-name: fill-timer-bar;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

/* Ergordic Swipe Animations */
.ergodic-drag-active .markdown-reading-view,
.ergodic-drag-active .markdown-source-view {
	/* Prevents text selection while dragging */
	user-select: none;
}

/* The state for animating the card back to center */
.ergodic-snapping-back > .view-content {
	transition: transform 0.2s ease-out;
	transform: translateX(0) rotate(0deg) !important;
}

/* The states for animating the card off the screen */
.ergodic-swiping-out-left > .view-content,
.ergodic-swiping-out-right > .view-content {
	transition: transform 0.2s ease-in;
}

.ergodic-swiping-out-left > .view-content {
	transform: translateX(-120%) rotate(-15deg) !important;
}

.ergodic-swiping-out-right > .view-content {
	transform: translateX(120%) rotate(15deg) !important;
}
